.nav-btn {     
    display: flex;
    justify-content: center;
}
.nav-btn-hide {
    display: none;
}
.nav-btn ul {
    display: flex;
    justify-content:center;
    align-items:center;
}
.nav-link {
    position: relative;
}
.nav-link > a {
    display: inline-block;
    line-height: 60px;
    min-width: 120px;
    /* margin: 0 10px; */
    color: rgb(0, 0, 0);
    transition: .5s;
}
.nav-link:hover > a {
    /* scale(1.1) 缩放倍数,1.1->原来的1.1 */
    /* transform: scale(1.1); */
    background-color: rgba(152, 48, 255, 0.737);
    color: #fff;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* 相对顶部的距离 */
    transform: translateY(-10px);
    /* 透明度 */
    opacity: 0;
    transition: .5s;
}
.dropdown ul {
    position: relative;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
}
.nav-links li:hover > .dropdown ul {
    display: flex;
}
.dropdown-link > a {
    display: flex;
    color: rgb(0, 0, 0);
    background-color: rgba(41, 255, 205, 0.614);
    margin: 0 1px;
    width: 120px;
    align-items: center;
    justify-content: center;
}
.dropdown-link:hover > a {
    background-color: rgba(152, 48, 255, 0.737);
    color: #fff;
}
.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
}
.dropdown-link {
    position: relative;
}
.dropdown.second {
    position: absolute;
    /* top计算 */
    top: 0;
    /* left计算 */
    left: 120px;
    transform: translateX(-10px);
    opacity: 0;
    width: 100%;
    background-color: rgba(41, 255, 205, 0.614);
    /* display: none; */
    transition: .5s;
    justify-content: center;
}

